@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('../fonts/OpenSans-Light.ttf');
	src: local('☺'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Semibold';
	src: url('../fonts/OpenSans-Semibold.ttf');
	src: local('☺'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/OpenSans-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{
	font-family: 'Open Sans', sans-serif;
}

header {
	padding: 1em 0 0;
}
.logo {
	float: left;
	margin-right: 20px;
}
.header-right {
	overflow: hidden;
}
.header-top {
	border-bottom: blue 2px solid;
	overflow: hidden;
	padding-bottom: 5px;
	display: table;
	width: 100%;
}

.address {
	padding: 0 0 0 5px;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}
.address li {
	display: inline-block;
	margin-right: 20px;
}
.address li:nth-child(1) {
	background: url(../images/icons.png) no-repeat -1px -19px;
	padding-left: 20px;
	
}
.address li:nth-child(2) {
	background: url(../images/icons.png) no-repeat  -2px -37px;
	padding-left: 15px;
	
}

.signin {
	margin: 0;
	padding: 0;
	display: table-cell;
	text-align: right;
}
.signin li {
	display: inline-block;
}
.signin li span {
	vertical-align: text-top;
	display: inline-block;
}

i.fb {
	background: url(../images/img-sprite.png) no-repeat -5px -58px;
	width: 30px;
	height: 30px;
	display: block;
}
i.vm {
	background: url(../images/img-sprite.png) no-repeat -44px -59px;
	width: 30px;
	height: 30px;
	display: block;
}
i.tb {
	background: url(../images/img-sprite.png) no-repeat -78px -59px;
	width: 30px;
	height: 30px;
	display: block;
}
.signin i {
	vertical-align: middle;
	display: inline-block;
}
.head-nav {
	padding: 1em 0 0 2em;
}
.head-nav ul {
	padding: 0;
	margin: 0;
}
.head-nav ul li {
	list-style-type: none;
	display: inline-block;
	
	font-size: 11px;
	margin: 0 0.5em;
}
.head-nav ul li a {
	color: #1a4720;
	text-decoration: none;
	position: relative;
	padding-bottom: 15px;
	display: inline-block;
	
}
.head-nav ul li a:hover,
.head-nav ul li a:focus {
	outline: none;
}
.head-nav ul li a::after {
	position: absolute;
	top: ;
	bottom: 30%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #05acaa;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
	
}
.head-nav ul li a:hover::after, .head-nav ul li a:focus::after,.head-nav ul li a.active::after {
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


.banner {
	background: url(../images/banner.jpg) no-repeat 0px 0px;
	width: 100%;
  	min-height: 600px;
  	background-size: cover;
  	text-align: right;
  	padding: 14em 0;
  	
}
.bannerInfo {
	width: 40%;
	float: right;
}
.banner h1 {
	color: #fff;
}
.banner p {
	color: #fff;
}
.slid{
	width: 100%;
}
.featured .container {
	margin: 0;
	padding: 0;
	width: 100%;
}
.featured-grid {
	float: left;
	width: 33.33%;
	background-color: #f0f6f4;
}
.featured-grid img {
	width: 100%;
}
.featured-info {
	padding: 1em;
}
.featured-grid h3 
{
	margin: 0;
}
.featured-middle {
	background-color: #e9eceb;
}
.formInfo {
	display: table;
  	width: 80%;
  	padding-left: 20px;
}
.book-head {
	text-align: center;
}
.formInfo .tr {
	display: table-row;
	width: 100%;
}
.formInfo .tr label {
	display: table-row;
	vertical-align: middle;
}
.formInfo .tr input {
	padding: 10px 0;
	margin: 0 0 10px;
	width: 80%;
	background-color: #eeeeee;
	border: none;
  	outline: none;
}
.formInfo span {
	display: table-cell;
	width: 100%;
}
#jqxWidget {
	margin-left: 20%;
	height: 324px;
	width: 352px;
}
.jqx-widget-content {
	border-color: none;
}
.map iframe {
	width: 100%;
	height: 300px;
}
.footer-section {
	background: #05acaa;
}
.footer-section p {
	color: #fff;
}
.footer-section p a {
	color: #fff;
	font-weight: bold;
}
.footerClass {
	float: left;
	margin-top: 20px;
}
.social {
	float: right;
	margin: 10px 0 0;
}
.social ul {
	
}
.social li {
	display: inline-block;
}
.social li span {
	vertical-align: text-top;
	display: inline-block;
}
i.ifb {
	background: url(../images/img-sprite.png) no-repeat -7px -15px;
	width: 40px;
	height:  40px;
	display: block;
}
i.ivm {
	background: url(../images/img-sprite.png) no-repeat -52px -15px;
	width:  40px;
	height:  40px;
	display: block;
}
i.itb {
	background: url(../images/img-sprite.png) no-repeat -97px -15px;
	width:  40px;
	height:  40px;
	display: block;
}
.social i{
	vertical-align: middle;
	display: inline-block;
}
/*-- responsive-mediaquries --*/
@media(max-width:1024px) {

}
@media(max-width:1024px) {
	.address li {
			display: inline-block;
			margin-right: 0;
		}
	.address li:nth-child(1) {
		background: url(../images/icons.png) no-repeat -1px -19px;
		
		
								}
	.address li:nth-child(2) {
			background: url(../images/icons.png) no-repeat  -2px -37px;
			
			
								}
	.head-nav ul li a {
		font-size: 9px;
	}

	.bannerInfo {
		width: 40%;
	}
}
@media(max-width:780px) {
	.header-top {
		display: none;
	}
	.head-nav {
		float: none;
    	width: 100%;
    	text-align: right;
	}
	span.menu:before {
		
	}
	span.menu:before {
		content: url('../images/nav.png');
	}
	.head-nav ul {
		display: none;
	}
	.head-nav ul li {
		font-size: 14px;
    	display: block;
	}
	.head-nav ul li {
		    margin: 0em;
		    display: block;
		    float: none;
		    border-bottom: 1px solid red;
	}
	.head-nav ul {
		    background: #e9eceb;
		    z-index: 999;
		    position: absolute;
		    width: 96%;
		    text-align: center;
		    margin: 15px 0;
		    left: 5%;
	}
	.head-nav ul li {
		padding: 10px 0;
	}
	.bannerInfo {
		width: 100%;
	}
	
}
@media(max-width: 640px ) {
	.logo img {
		width: 100%;
	}
	.address {
		display: none;
	}
	.head-nav ul li {
		padding: 4px 0;
	}
}
@media(max-width:480px) {
	.logo {
		
	}
	.featured-right {
		display: none;
	}
	.footerLeft {
		width: 100%;
		float: none;
		text-align: center;
	}
	.formInfo {
		width: 100%;
		padding-left: 0;
	}
	.formInfo .tr input {
		width: 90%;
	}
	.featured .container {
		width: 80%;
		margin: 0 auto;
	}
	.featured-grid {
		width: 50%;
	}
	#jqxWidget {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	
}
@media(max-width:320px){
	.logo {
	  width: 50%;
	}
	.signin {
		  display: none;
	}
	.head-nav {
		padding: 0;
	}
	.head-nav ul {
		width: 90%;
	}
	.banner {
		min-height: 204px;
		padding: 0;
	}
	.bannerInfo {
		width: 70%;
	}
	.featured-grid {
		width: 100%;
	}
	.featured-middle {
		display: none;
	}
	
	.formInfo .tr input {
		width: 100%;
	}
}